@media only screen and (max-width: 1600px) {

	.row{
		padding: 0 2%;
	}

	/*-- Slide 1 --*/

	h1 {
	    font-size: 35px;
	    line-height: 38px;
	}

	/*-- /Slide 1 --*/

	/*-- Slide 3 --*/

	.miniature-descript span {
	    font-size: 17px;
	    line-height: 19px;
	}

	/*-- /Slide 3 --*/

	/*-- Slide 4 --*/

	.slide-3 .h-block-right {
		right: 3px;
	}

	.slide-4 .h-block-right {
	    right: 0;
	}

	.h-block-right h2 {
	    font-size: 97px;
	    line-height: 97px;
	}

	.h-block-right h2 .small {
	    font-size: 61px;
	    line-height: 61px;
	}

	/*-- /Slide 4 --*/


}


@media only screen and (max-width: 1340px) {

	/*-- Slide 1 --*/

	.promo-slider .two-cols .col-1 {
	    width: 26%;
	}

	.promo-slider .two-cols .col-2 {
	    width: 66%;
	}

	/*-- /Slide 1 --*/

	/*-- Slide 2 --*/

	.h-block h2 {
	    font-size: 82px;
	    line-height: 94px;
	}

	.h-block h2 span.small {
	    font-size: 39px;
	    line-height: 39px;
	}

	.articles-slider .slide {
	    min-height: 460px;
	    padding: 13px 0 50px 88px;
	}

	/*-- /Slide 2 --*/

	/*-- Slide 3 --*/

	.slide-page.slide-left-bg:before {
	    width: 61%;
	}

	.slide-page-header {
	    width: 61%;
	}

	.slide-page-header h2 {
	    font-size: 17px;
	    line-height: 18px;
	}

	.slide-inner-nav li a {
	    font-size: 16px;
	    line-height: 27px;
	}

	.two-sliders-slide .slide .col-1 {
	    width: 51%;
	}

	.two-sliders-slide .slide .col-2 {
	    width: 49%;
	}

	.two-sliders-slide .col-2 {
	    padding-right: 40px;
	}

	.two-sliders-slide .article h3 {
	    font-size: 35px;
	    line-height: 35px;
	}

	.two-sliders-slide .article p {
	    font-size: 18px;
	    line-height: 22px;
	    padding: 5px 0;
	}

	.miniatures-slider-block {
	    width: 51%;
	}

	/*-- /Slide 3 --*/

	/*-- Slide 5 --*/

	.slide-5-h-block {
	    left: -8px;
		top: initial;
		bottom: 36px;
	}

	.slide-5-h-block h2 {
	    font-size: 75px;
	    line-height: 75px;
	}

	.h-block h2 span.small {
	    font-size: 42px;
	    line-height: 46px;
	}

	.slide-5-shape:before {
	    width: 75%;
	}

	.team-thumbnails-inner {
	    right: 0;
	}

	.team-thumbnails {
	    width: 90%;
	    padding: 20px 0 0 0;
	}

	.team-thumbnails .thumbnail.th-4 {
	    margin: 55px 0 0 0;
	    right: -3%;
	}

	.team-thumbnails .thumbnail .img-box {
	    max-width: 86%;
	    max-height: 86%;
	}

	.team-thumbnails .thumbnail.th-4 .thumb-title {
	    bottom: 10px;
	}

	.team-thumbnails .thumbnail.th-6 {
	    margin: 34px 0 0 0;
	}

	.team-thumbnails .thumbnail.th-5 {
	    top: -68px;
	    right: -1%;
	}

	.team-thumbnails .thumbnail.th-5 .thumb-title {
	    left: 298px;
	}

	.team-thumbnails .thumbnail.th-6 .thumb-title {
	    left: -230px;
	    margin: 58px 0 0 0;
	}

	/*-- /Slide 5 --*/

	/*-- Slide 6 --*/

	.contacts-logo-block {
	    width: 65%;
	}

	.contacts-content {
	    width: 65%;
	}

	.contacts-thumbnails .thumbnail p {
	    font-size: 17px;
	    line-height: 22px;
	    padding: 5px 0;
	}

	/*-- /Slide 6 --*/

	/*-- Slide 3 About Page --*/

	.h-block-right_1 {
	    right: 0;
	}

	.articles-slider-2.articles-slider-2_1 .slide {
		min-height: 550px;
	}

	.articles-slider-2 .images-block img {
		max-width: 58%;
	}

	.articles-slider-2.articles-slider-2_1 .slide .col-2 {
	    width: 60%;
	    margin: 0 13% 0 0;
	    background: rgba(255, 255, 255,.7);
	}

	.articles-slider-2.articles-slider-2_1 .slide .article {
		width: 100%;
		max-width: 100%;
		margin: 0;
	    padding: 10px 3%;
	}

	.articles-slider-2_1 .slide .article h3 {
	    font-family: "Bliss Pro", Arial, Verdana, sans-serif;
	    font-size: 33px;
	    line-height: 33px;
	    font-weight: 900;
	    color: #353535;
	    padding-bottom: 11px;
	}

	.articles-slider-2_1 .slide .article p {
	    font-size: 17px;
	    line-height: 22px;
	}

	/*-- /Slide 3 About Page --*/

	/*-- Slide 4 About Page --*/

	.articles-slider-4-about .slide .h-block h2 {
	    font-size: 47px;
	    line-height: 47px;
	}

	.articles-slider-4-about .slide h3 {
	    font-size: 40px;
	    line-height: 40px;
	}

	.articles-slider-4-about .slide p {
	    font-size: 18px;
	    line-height: 21px;
	}

	.articles-slider-4-about .slide .left-article {
	    padding-top: 32px;
	    padding-bottom: 100px;
	}

	.articles-slider-4-about .slide .left-article-header {
	    margin: 0 0 17px 0;
	    padding: 21px 0 16px 124px;
	}

	/*-- /Slide 4 About Page --*/

	/*-- Slide 5 About Page --*/

	.articles-slider-3-block.articles-slider-3-block_1 {
		width: 85%;
		min-height: auto;
	}

	.slide-5-about .h-block-right {
		right: 0;
	}

	.slide-5-about .h-block-right h2 {
	    font-size: 100px;
	    line-height: 100px;
	}

	.slide-5-about .h-block-right h3 {
	    font-size: 45px;
	    line-height: 45px;
	}

	/*-- /Slide 5 About Page --*/

	/*-- Slide 1 We Created Page --*/

	.h-block.we-create-h {
		bottom: 29px;
		left: 0;
	}

	.h-block.we-create-h h2 {
	    font-size: 92px;
	    line-height: 94px;
	}

	.black-h h3 {
	    font-size: 28px;
	    line-height: 30px;
	}

	.black-h h4 {
	    font-size: 17px;
	    line-height: 19px;
	}

	.we-create-two-cols {
	    padding-left: 11%;
	}

	.create-nav-list a {
	    font-size: 16px;
	    line-height: 21px;
	}

	.gallery-slider {
	    height: 400px;
	}

	.gallery-slider .slide {
	    height: 400px;
	}

	.gallery-slider .slide .img-box {
	    height: 400px;
	}

	.gallery-article {
	    width: 73%;
	    margin: 9px 0;
	}

	.gallery-article p {
	    font-size: 16px;
	    line-height: 21px;
	}

	/*-- /Slide 1 We Created Page --*/

	/*-- Slide 1 News Page --*/

	.news-slider-block .col-1 {
	    width: 33%;
	    padding-left: 95px;
	}

	.news-slider-block .col-2 {
	    width: 67%;
	}

	.news-miniatures-slide .descript h3 {
	    font-size: 20px;
	    line-height: 24px;
	}

	/*-- /Slide 1 News Page --*/

}

@media only screen and (max-width: 1024px) {

	.header-site .col-1 {
	    width: 20%;
	}

	.header-site .col-2 {
	    width: 80%;
	}

	.main-nav {
	    margin-right: -7px;
	}

	.main-nav li {
	    padding: 0 11px;
	}

	.main-nav li a {
	    font-size: 18px;
	    line-height: 18px;
	    padding: 13px 0 0 0;
	}

	/*-- Slide 2 --*/

	.articles-slider .article {
	    top: 25px;
	    max-width: 400px;
	    padding: 20px 2% 23px 3%;
	}

	.articles-slider .article h3 {
	    font-size: 36px;
	    line-height: 37px;
	    padding: 11px 0;
	}

	.articles-slider .article p {
	    font-size: 16px;
	    line-height: 20px;
	    padding: 5px 0;
	}

	.articles-slider .article .more-link {
	    margin-top: 21px;
	}

	.articles-slider .img-box {
	    max-width: 600px;
	}

	/*-- /Slide 2 --*/

	/*-- Slide 3 --*/

	.slide-page.slide-left-bg:before {
	    width: 60%;
	}

	.slide-page-header {
	    display: block;
	    width: 60%;
	}

	.two-sliders-slide .slide {
		padding-bottom: 125px;
	}

	.two-sliders-slide .slide .col-1 {
	    width: 47%;
	}

	.two-sliders-slide .col-1 .img-box {
	    height: 325px;
	}

	.two-sliders-slide .slide .col-2 {
	    width: 53%;
	    text-align: left;
		padding-left: 4%;
		padding-right: 30px;
	}

	.miniatures-slider-block {
	    margin: -125px 0 0 0;
	}

	.article-inner-miniatures-slider {
	    width: 91%;
	}

	/*-- /Slide 3 --*/

	.left-nav-block {
	    width: 18%;
	}

	.slide-two-cols .col-1 {
	    width: 40%;
	}

	.slide-two-cols .col-2 {
	    width: 60%;
	    padding-left: 0%;
	}

	.slide-two-cols .article {
	    width: 91%;
	    margin: 5px 0 5px 0;
	    padding: 10px 4% 17px 4%;
	}

	.slide-two-cols .article h3 {
	    font-size: 30px;
	    line-height: 31px;
	    padding: 4px 0;
	}

	.slide-two-cols .article p {
	    font-size: 15px;
	    line-height: 20px;
	    padding: 4px 0;
	}

	.slide-two-cols .col-1 .img-box img {
	   	max-width: 100%;
	}

	.accordeon li {
	    padding: 9px 0 1px 7px;
	}

	/*-- Slide 5 --*/

	.slide-5-h-block h2 {
	    font-size: 60px;
	    line-height: 65px;
	}

	.h-block h2 span.small {
	    font-size: 38px;
	    line-height: 39px;
	}

	.team-thumbnails {
	    padding: 12px 0 0 0;
	}

	.team-thumbnails .thumbnail.th-5 {
	    top: -41px;
	}

	.team-thumbnails .thumbnail.th-5 .thumb-title {
	    left: 194px;
	}

	.team-thumbnails .thumbnail p.p-1 {
	    font-size: 19px;
	    line-height: 20px;
	}

	.team-thumbnails .thumbnail p {
	    font-size: 14px;
	    line-height: 16px;
	}

	.team-thumbnails .thumbnail.th-5 .thumb-title {
	    top: 0;
	}

	.team-thumbnails .thumbnail.th-4 {
	    margin: 11px 0 0 0;
	}

	.team-thumbnails .thumbnail.th-6 .thumb-title {
	    left: -173px;
	    margin: 40px 0 0 0;
	}

	.team-thumbnails .thumbnail.th-2 .thumb-title {
	    left: -40px;
	}

	.team-thumbnails .thumbnail.th-3 .thumb-title {
	    left: -41px;
	}

	.team-thumbnails .thumbnail.th-1 {
	    top: -5px;
	}

	.team-thumbnails .thumbnail.th-6 {
	    margin: 2px 0 0 0;
	}
	
	/*-- /Slide 5 --*/

	/*-- Slide 6 --*/

	.form-h h2 {
	    font-size: 38px;
	    line-height: 40px;
	}

	.input-block {
	    margin: 25px 0;
	}

	.submit-btn {
	    margin: 25px auto;
	}

	/*-- /Slide 6 --*/

	/*-- Slide 7 --*/

	.contacts-logo-block {
	    width: 53%;
	    padding: 64px 0 9px 0;
	}

	.contacts-logo {
	    width: 151px;
	}

	.contacts-content {
	    width: 59%;
	    margin: 121px 0 0 0;
	}

	.contacts-logo-block {
	    padding: 78px 0 19px 0;
	}

	.contacts-thumbnails .thumbnail p {
	    font-size: 14px;
	    line-height: 15px;
	    padding: 1px 0;
	}

	.contacts-thumbnails .thumbnail {
	    width: 50%;
	    margin: 3px 0;
	}

	.contacts-thumbnails .thumbnail .icon-box {
	    text-align: left;
	    height: 41px;
	    margin: 0;
	}

	.contacts-thumbnails .thumbnail .icon-box:after {
	    left: 0;
	    margin: 0;
	}

	/*-- /Slide 7 --*/

	/*-- Slide 3 About Page --*/

	.h-block-right_1 h2 {
	    font-size: 82px;
	    line-height: 85px;
	}

	.h-block-right_1 h3 {
	    font-size: 49px;
	    line-height: 49px;
	}

	.articles-slider-2.articles-slider-2_1 .slide {
	    min-height: 480px;
	}

	.articles-slider-2 .images-block img {
	    max-width: 42%;
	    margin: 0;
	}

	.images-block .bottom-images .img-1 {
	    left: 0;
	}

	.images-block .bottom-images .img-2 {
	    left: 4%;
	}

	.articles-slider-2_1 .slide .article h3 {
	    font-size: 26px;
	    line-height: 26px;
	    padding-bottom: 5px;
	}

	.articles-slider-2_1 .slide .article p {
	    font-size: 17px;
	    line-height: 22px;
	    padding: 2px 0;
	}

	/*-- /Slide 3 About Page --*/

	/*-- Slide 4 About Page --*/

	.articles-slider-4-about .slide .h-block h2 {
	    font-size: 43px;
	    line-height: 43px;
	}

	.articles-slider-4-about .slide h3 {
	    font-size: 34px;
	    line-height: 34px;
	}

	.articles-slider-4-about .slide p {
	    font-size: 16px;
	    line-height: 19px;
	}

	.articles-slider-4-about .slide .left-article {
	    width: 70%;
	}

	.articles-slider-4-about .slide .left-article-header {
	    margin: 0 0 17px 0;
	    padding: 21px 0 16px 124px;
	}

	.slider-pagination.white .count-slides-block {
	    margin: 0 0 7px 0;
	}

	.articles-slider-4-about .slide .left-article {
	    padding-top: 10px;
	    padding-bottom: 71px;
	}

	.footer-slider-7 {
	    bottom: 81px;
	}

	.footer-slider-7 .slider-pagination-4_1 {
	    padding-right: 0%;
	}

	/*-- /Slide 4 About Page --*/

	/*-- Slide 5 About Page --*/

	.slide-5-about .h-block-right {
	    top: 10px;
	}

	.slide-5-about .h-block-right h2 {
	    font-size: 70px;
	    line-height: 70px;
	}

	.slide-5-about .h-block-right h3 {
	    font-size: 40px;
	    line-height: 40px;
	}

	.articles-slider-3-block_1 .slide-two-cols .col-1 {
	    width: 52%;
	    padding-top: 20px;
	}

	.articles-slider-3-block_1 .slide-two-cols .col-2 {
	    width: 48%;
	}

	.slide-5-about .slide-two-cols .article {
		width: 121%;
		margin: 25px 0 11px -24%;
	}

	.slider-pagination-3_1 {
	    bottom: 30px;
	   	padding-left: 3%;
	}

	.slider-pagination-3_1 .count-slides-block {
		position: relative;
		top: 15px;
	}

	/*-- /Slide 5 About Page --*/

	/*-- Slide 1 We Created Page --*/

	.slide-1-we-create:before {
	    width: 65%;
	}

	.gallery {
	    width: 84%;
	}

	.h-block.we-create-h {
		bottom: 29px;
		left: -1%;
	}

	.h-block.we-create-h h2 {
	    font-size: 60px;
	    line-height: 60px;
	}

	.h-block h2 span.small {
	    font-size: 28px;
	    line-height: 31px;
	}

	.black-h h3 {
	    font-size: 18px;
	    line-height: 25px;
	    opacity: .67;
	}

	.black-h h4 {
	    font-size: 15px;
	    line-height: 19px;
	}

	.we-create-two-cols {
	    padding-left: 8%;
	}

	.create-nav-list a {
	    font-size: 15px;
	    line-height: 17px;
	}

	.gallery-slider {
	    height: 300px;
	}

	.gallery-slider .slide {
	    height: 300px;
	}

	.gallery-slider .slide .img-box {
	    height: 300px;
	}

	.gallery-article {
	    width: 85%;
	    margin: 6px 0;
	}

	.gallery-pagination-content {
	    position: relative;
	    top: 15px;
	}

	.gallery-pagination.bottom_pagination {
	    left: -21%;
	}

	/*-- /Slide 1 We Created Page --*/

	/*-- Slide 1 News Page --*/

	.news-slider-block .col-1 {
	    padding-left: 75px;
	}

	.news-slider-inner .img-box {
		height: 242px;
	}

	.news-slider-inner .article {
	    padding: 0;
	}

	.news-slider-inner .article p {
		font-size: 16px;
		line-height: 19px;
		padding: 3px 0;
	}

	.news-slider-inner .article h3 {
	    font-size: 32px;
	    line-height: 36px;
	    padding: 5px 120px 5px 0;
	}

	.news-slider-controls .count-slides-block {
	    position: relative;
	    top: 20px;
	}

	.news-slider-controls {
	    bottom: 32px;
	    left: -34%;
	}

	.news-inner-arrows {
	    top: 260px;
	    left: auto;
	    right: 0;
	}

	.news-miniatures-slider {
	    width: 100%;
	    max-width: 180px;
	    padding-right: 5%;
	}

	.news-miniatures-slide .img-box {
	    height: 101px;
	}

	/*-- /Slide 1 News Page --*/

}

@media only screen and (max-width: 800px) {

	h1 {
	    font-size: 24px;
	    line-height: 33px;
	}

	.logo-link {
	    max-width: 114px;
	}

	.vertical-line {
	    bottom: -22%;
	}

	.pages-num {
	    top: 121%;
	}

	.main-nav {
	    margin-right: -8px;
	}

	.main-nav li {
	    padding: 0 7px;
	}

	.main-nav li a {
		font-size: 17px;
		line-height: 17px;
		padding: 10px 0 0 0;
	}

	/*-- Slide 1 --*/

	.promo-thumbs {
	    margin-left: -9px;
	}

	.promo-thumbs li {
	    padding: 7px 9px;
	}

	.site-nav li {
	    padding: 3px 0 4px 0;
	}

	/*-- .Slide 1 --*/

	/*-- Slide 2 --*/

	.h-block h2 {
	    font-size: 67px;
	    line-height: 80px;
	}

	.h-block h2 span.small {
	    font-size: 33px;
	    line-height: 36px;
	}

	.articles-slider .slide {
	    padding: 13px 0 30px 62px;
	}

	.articles-slider .img-box {
	    right: 4%;
	}
	
	.articles-slider .article {
	    top: 2px;
	    max-width: 360px;
	    padding: 9px 2% 17px 3%;
	}

	.articles-slider .article h3 {
	    font-size: 32px;
	    line-height: 33px;
	    padding: 5px 0;
	}

	.articles-slider .article p {
	    padding: 2px 0;
	}

	.articles-slider .img-box {
	    max-width: 420px;
	}

	.more-link {
	    font-size: 16px;
	    line-height: 18px;
	}

	.h-block h2 {
	    font-size: 52px;
	    line-height: 62px;
	}

	.articles-slider .article .more-link {
	    margin-top: 4px;
	}

	/*-- /Slide 2 --*/

	/*-- Slide 3 --*/

	.slide-page.slide-left-bg:before {
	    width: 80%;
	}

	.slide-page-header {
	    width: 80%;
	}

	.slide-inner-nav li a {
	    font-size: 15px;
	    line-height: 26px;
	}

	.articles-slider-2-block {
	    margin: 2px 0;
	}

	.article-inner-slider {
	    margin: 4px 0;
	}

	.two-sliders-slide .slide {
	    padding-bottom: 81px;
	}

	.two-sliders-slide .col-1 .img-box {
	   	height: 277px;
	}

	.two-sliders-slide .article h3 {
	    font-size: 30px;
	    line-height: 30px;
	    padding-bottom: 5px;
	}

	.two-sliders-slide .article p {
	    font-size: 16px;
	    line-height: 18px;
	    padding: 2px 0;
	}

	.miniatures-slider-block {
	    margin: -81px 0 0 0;
	}

	.article-inner-miniatures-slider .miniature-slide {
	    height: 75px;
	}

	.miniature-descript {
	    padding-top: 5px;
	}

	.slider-pagination-2 {
	    bottom: -7px;
	}

	.two-sliders-slide .count-slides-block {
		position: relative;
	    top: 24px;
	}

	.miniature-descript span {
	    font-size: 14px;
	    line-height: 14px;
	}

	/*-- /Slide 3 --*/

	/*-- Slide 4 --*/

	.h-block-right h2 {
	    font-size: 85px;
	    line-height: 85px;
	}

	.h-block-right h2 .small {
	    font-size: 49px;
	    line-height: 49px;
	}

	.slide-two-cols .article h3 {
	    font-size: 26px;
	    line-height: 28px;
	}

	.slider-pagination-3 .slide-arrows-block {
	    padding: 2px 0 0 0;
	}

	.accordeon li {
	    padding: 6px 0 1px 3px;
	    font-size: 16px;
	    line-height: 16px;
	}

	.left-nav-block-list li a {
	    font-size: 16px;
	    line-height: 16px;
	}

	.slide-two-cols .article {
	    margin: 5px 0% 5px -8%;
	}

	/*-- /Slide 4 --*/

	/*-- Slide 5 --*/

	.slide-5-h-block {
	    bottom: 31px;
	}

	.team-thumbnails {
	    padding: 14px 0 0 0;
	}

	.team-thumbnails .thumbnail.th-5 {
	    top: -55px;
	}

	.team-thumbnails .thumbnail.th-6 {
	    margin: -10px 0 0 0;
	}

	.team-thumbnails .thumbnail.th-5 .thumb-title {
	    left: 200px;
	}

	/*-- /Slide 5 --*/

	/*-- Slide 6 --*/

	.form-h h2 {
	    font-size: 36px;
	    line-height: 38px;
	}

	.input-block {
	    margin: 20px 0;
	}

	.submit-btn {
	    margin: 20px auto;
	}

	/*-- /Slide 6 --*/

	/*-- Slide 7 --*/

	.contacts-logo-block {
	    padding: 57px 0 19px 0;
	}

	.contacts-content {
	    margin: 95px 0 0 0;
	}

	/*-- /Slide 7 --*/

	/*-- Slide 3 About Page --*/

	.h-block-right_1 h2 {
	    font-size: 60px;
	    line-height: 60px;
	}

	.h-block-right_1 h3 {
	    font-size: 34px;
	    line-height: 34px;
	}

	.articles-slider-2.articles-slider-2_1 .slide {
	    min-height: 340px;
	}

	.footer-7 .socials-block {
	    padding: 10px 16% 0 0;
	}

	.slider-pagination-2_1 {
	    bottom: 0;
	}

	.slider-pagination-2_1 .count-slides-block {
	    position: relative;
	    top: 17px;
	}

	/*-- /Slide 3 About Page --*/

	/*-- Slide 4 About Page --*/

	.articles-slider-4-about .slide .left-article {
	    width: 91%;
	}

	.articles-slider-4-about .slide .left-article-header {
	    padding: 21px 0 16px 92px;
	}

	.articles-slider-4-about .slide .h-block h2 {
	    font-size: 40px;
	    line-height: 40px;
	}

	/*-- /Slide 4 About Page --*/

	/*-- Slide 1 We Created Page --*/

	.h-block.we-create-h h2 {
	    font-size: 53px;
	    line-height: 53px;
	}

	.gallery-slider-block {
	    margin: 13px 0 0 0;
	}

	.gallery-slider {
	    height: 230px;
	}

	.we-create-two-cols .col-1 {
	    width: 27%;
	}

	.we-create-two-cols .col-2 {
	    width: 73%;
	}

	.gallery-slider .slide {
	    height: 230px;
	}

	.gallery-slider .slide .img-box {
	    height: 230px;
	}

	.gallery-article {
	    width: 93%;
	}

	.gallery-article p {
	    font-size: 14px;
	    line-height: 18px;
	}

	.gallery-pagination.bottom_pagination {
	    bottom: -35px;
	}

	.we-created-socilas {
	    position: relative;
	    top: 10px;
	}

	/*-- /Slide 1 We Created Page --*/

	/*-- Slide 1 News Page --*/

	.news-block {
	    padding-top: 46px;
	}

	.news-slider-block .col-1 {
	    padding-left: 63px;
	}

	.news-slider-inner .img-box {
		height: 200px;
	}

	.news-slider-inner .article {
	    position: relative;
	    top: -46px;
	    padding-left: 1%;
	}

	.news-slider-inner .article h3 {
		font-size: 31px;
		line-height: 34px;
	    padding: 2px 120px 2px 0;
	}

	.news-slider-inner .article p {
		font-size: 15px;
		line-height: 19px;
		padding: 2px 0;
	}

	.news-slider-inner .article h3 {
		font-size: 28px;
		line-height: 29px;
	    padding: 5px 120px 5px 0;
	}

	.news-inner-arrows {
		top: 165px;
	    padding: 5px 0;
	    background: rgba(0, 0, 0, .6);
	}

	.news-miniatures-slide .img-box {
	    height: 84px;
	}

	.news-miniatures-slide .descript h3 {
	    font-size: 16px;
	    line-height: 20px;
	}

	.news-miniatures-slide .descript p {
	    font-size: 15px;
	    line-height: 17px;
	}

	.news-slider-controls {
	    bottom: 27px;
	}

	.socials-block_news .socials-list {
	    position: absolute;
	    top: -61px;
	    right: 0;
	}

	/*-- /Slide 1 News Page --*/

	/*-- 404 Page --*/

	.p-404 {
	    font-size: 201px;
	    line-height: 201px;
	}

	.transparent-pill {
	    margin: 9px auto;
	    padding: 3px 2% 6px 2%;
	}

	/*-- /404 Page --*/

}

@media only screen and (max-width: 700px) {

	.slide-page {
		padding: 30px 0;
		border-bottom: 1px solid #ededed;
	}

	.slide-page:last-child {
		border-bottom: none;
	}

	h1 {
	    font-size: 21px;
	    line-height: 29px;
	}

	.header-site .col-1 {
	    width: 57%;
	}

	.header-site .col-2 {
	    width: 43%;
	}

	.respmenubtn-box {
	    display: block;
	}

	.main-nav-block {
		display: none;
		width: 100%;
		height: 100vh;
		padding: 43px 0 20px 0;
		background: rgba(255, 255, 255, .95);
		position: fixed;
		top: 0;
		left: 0;
	}

	.main-nav {
	    margin-right: 0;
	}

	.main-nav li {
		display: block;
		width: 100%;
		text-align: center;
	}

	.main-nav li a {
		font-size: 25px;
		line-height: 28px;
	    font-weight: bold;
	    padding: 5px 0;
	    color: #4f8dff;
	    text-transform: uppercase;
	}

	.main-nav li a:before {
		display: none;
	}

	.main-nav li a:hover {
		background: rgb(255, 255, 255);
	}

	/*-- Slide 1 --*/

	.slide-promo {
		padding-top: 0 !important;
   		padding-bottom: 0 !important;
	}

	.slide-promo .center {
   		padding-top: 0 !important;
	}

	.front-block {
	    min-height: 100vh;
	}

	.back-block {
	    min-height: 100vh;
	}

	.promo-video-block {
		display: none;
	}

	.promo-slider .two-cols .col-1 {
	    width: 100%;
	    padding: 0 2%;
	}

	.promo-slider .two-cols .col-2 {
	    width: 100%;
	    text-align: center;
	    padding: 20px 0 0 0;
	}

	.promo-thumbs li a {
	    font-size: 17px;
	    line-height: 17px;
	}

	.socials-list {
	    padding: 5px 0;
	}

	/*-- /Slide 1 --*/

	/*-- Slide 2 --*/

	.h-block {
	    position: relative;
	    top: 0;
	    left: 0;
	    transform: none;
	    transform-origin: none;
	}

	.articles-slider-block {
	    padding: 11px 0 0 0;
	    position: relative;
	}

	.articles-slider .slide {
	    padding: 13px 0 30px 0;
	}

	.articles-slider .img-box {
	    display: block;
	    margin: 0 auto;
	    max-width: 100%;
	    max-height: 100%;
	    position: relative;
	    right: 0;
	}

	.articles-slider .article {
	    max-width: 100%;
	    padding: 10px 2%;
	}

	/*-- /Slide 2 --*/

	/*-- Slide 3 --*/

	.h-block-right {
		position: relative;
		top: 0;
		left: 0;
	    opacity: 1;
	    white-space: nowrap;
	    transform: none;
	    transform-origin: none;
	    text-align: center;
	}

	.h-block-right h2 {
		display: inline-block;
		vertical-align: baseline;
		padding-right: 3%;
		font-size: 33px;
		line-height: 33px;
	}

	.h-block-right h3 {
		display: inline-block;
		vertical-align: baseline;
	    font-size: 40px;
	    line-height: 40px;
	}

	.parent-slider-block .two-sliders-slide {
		display: block;
		width: 100%;
		height: 100vh;
		margin: 0;
		padding-top: 50px;
		position: fixed !important;
		background: rgb(255, 255, 255);
		top: 0;
		left: -110%;
		z-index: 5;
	}

	.close-slider {
	    display: block;
	}

	.two-sliders-slide {
	    padding-bottom: 10px;
	}

	.two-sliders-slide .slide {
	    padding-bottom: 0;
	}

	.inner-slider {
	    height: auto;
	}

	.slider-pagination-2 {
	    position: relative;
	    bottom: 0;
	    left: 63.3%;
	}

	.miniatures-slider-block {
	    margin: 0;
	}

	.slide-page.slide-left-bg:before {
	    display: none;
	}

	.slide-page-header {
		width: 100%;
		margin-top: 19px;
	    border-left: 3px solid #3d3d3d;
	}

	.slide-page-header h2 {
	    color: #3d3d3d;
	}

	.slide-inner-nav li a {
	    color: #3d3d3d;
	}

	.slide-inner-nav li:after {
	    color: #3d3d3d;
	}

	.slide-inner-nav li a:link,
	.slide-inner-nav li a:visited {
	    border-bottom: 1px solid transparent;
	}

	.slide-inner-nav li a.active {
	    border-bottom: 1px solid #3d3d3d;
	}

	.slide-inner-nav li a:hover {
	    border-bottom: 1px solid #3d3d3d;
	}

	.two-sliders-slide .slide .col-1 {
	    width: 100%;
	    padding-top: 10px;
	    padding-left: 2%;
	    padding-right: 2%;
	}

	.two-sliders-slide .slide .col-2 {
	    width: 100%;
	    padding-bottom: 10px;
	    padding-left: 2%;
	    padding-right: 2%;
	}

	.socials-block.inner_page {
	    position: relative;
	    padding: 10px 0;
	}

	.miniatures-slider-block {
	    width: 100%;
	}

	.article-inner-miniatures-slider {
	    width: 100%;
	}

	.article-inner-miniatures-slider .miniature-slide {
		width: 31%;
	    height: 125px;
	}

	.miniature-descript span {
	    font-size: 16px;
	    line-height: 22px;
	}

	/*-- /Slide 3 --*/

	/*-- Slide 4 --*/

	.slide-4 .h-block-right {
	    position: relative;
	    top: 0;
	}

	.show-accordeon {
	    display: block;
	}

	.left-nav-block {
	    width: 100%;
	    height: 100vh;
	    margin: 0;
	    padding: 50px 0 25px 0;
	    position: fixed;
	    top: 0;
	    left: -110%;
	    z-index: 5;
    	background: rgba(255, 255, 255, .8);
	}

	.close-accordeon {
	    display: block;
	}

	.accordeon {
		margin-bottom: 20px;
		background: rgb(251, 251, 251);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
	}

	.accordeon li {
	    padding: 6px 0;
	    font-size: 20px;
	    line-height: 22px;
	    width: 100%;
	    text-align: center;
	}

	.accordeon li {
		border: 1px solid #ededed;
	    border-radius: 5px;
	}

	.accordeon li > ul li {
		border: none;
	    border-radius: none;
	    padding: 5px 0;
	}

	.articles-slider-3-block {
	    width: 100%;
	    min-height: auto;
	}

	.accordeon li span {
		display: block;
	}

	.left-nav-block-list li a {
		display: block;
	    font-size: 18px;
	    line-height: 18px;
	    padding: 7px 1%;

	    -webkit-transition-property: background;
	    -webkit-transition-duration: .3s;
	    -webkit-transition-timing-function: ease;

	    -moz-transition-property: background;
	    -moz-transition-duration: .3s;
	    -moz-transition-timing-function: ease;

	    -ms-transition-property: background;
	    -ms-transition-duration: .3s;
	    -ms-transition-timing-function: ease;

	    -o-transition-property: background;
	    -o-transition-duration: .3s;
	    -o-transition-timing-function: ease;

	    transition-property: background;
	    transition-duration: .3s;
	    transition-timing-function: ease;

	}

	.left-nav-block-list li a:link,
	.left-nav-block-list li a:visited {
	    color: #353535;
	    background: rgba(255, 255, 255, 0);
	    border-bottom: none;
	}


	.left-nav-block-list li a.active,
	.left-nav-block-list li a:active {
	    color: #5d8da5;
	    background: rgba(255, 255, 255, 1);
	    border-bottom: none;
	}

	.left-nav-block-list li a:hover {
	    color: #5d8da5;
	    background: rgba(255, 255, 255, 1);
	    border-bottom: none;
	}

	.slide-two-cols .col-1 {
	    width: 100%;
	    text-align: center;
	}

	.slide-two-cols .col-1 .img-box {
		display: block;
		margin: 0 auto;
	    max-width: 100%;
	    max-height: 270px;
	}

	.slide-two-cols .col-1 .img-box {
		width: auto;
		height: auto;
		max-width: 100%;
		max-height: 100%;
	}

	.slide-two-cols .col-2 {
	    width: 100%;
	    margin: 10px 0;
	    padding-left: 0%;
	}

	.slide-two-cols .article {
		width: 100%;
	    margin: 5px 0;
	}

	/*-- /Slide 4 --*/

	/*-- Slide 5 --*/

	.slide-5-h-block {
	    position: relative;
	    top: initial;
	    bottom: 0;
	    left: 0;
	    transform: none;
	    text-align: center;
	    transform-origin: none;
	}

	.h-block h2 span.small {
	    padding-top: 20px;
	}

	.team-thumbnails {
	    width: 100%;
	}

	.team-thumbnails .thumbnail {
		display: inline-block;
		vertical-align: top;
		width: 50%;
	}

	.h-block h2:after {
	    display: none;
	    margin-top: 0;
	}

	.team-thumbnails .thumbnail.th-2 {
	    right: -8% !important;
	}

	.team-thumbnails .thumbnail.th-3 {
		margin-top: 50px;
		right: 0;
	}

	.team-thumbnails .thumbnail.th-3 .thumb-title {
		top: -40px;
	    left: 0;
	    bottom: initial;
	    transform: none;
    	transform-origin: none;
	}

	.team-thumbnails .thumbnail.th-3 .thumb-title p {
		color: #353535;
	}

	.team-thumbnails .thumbnail.th-4 {
		top: -6px;
	    right: -7%;
	}

	.team-thumbnails .thumbnail.th-4 .thumb-title {
	    bottom: 0;
	}

	.team-thumbnails .thumbnail.th-5 {
	    top: 26px;
	}

	.team-thumbnails .thumbnail.th-5 .thumb-title {
		position: relative;
	    left: 0;
	}

	.team-thumbnails .thumbnail.th-5 .thumb-title p {
		color: #353535;
	}

	.team-thumbnails .thumbnail.th-6 {
	    margin: 0;
	}

	.team-thumbnails .thumbnail.th-6 .thumb-title {
		position: relative;
	    left: 0;
	    margin: 0;
	}

	/*-- /Slide 5 --*/

	/*-- Slide 6 --*/

	.form-block {
	    padding-bottom: 0;
	}

	.form-h {
	    padding: 0;
	}

	.form-h h2 {
	    font-size: 31px;
	    line-height: 33px;
	}

	/*-- /Slide 6 --*/

	/*-- Slide 7 --*/

	.map-block {
		display: none;
	}

	.contacts-logo-block {
		width: 100%;
	    padding: 19px 0;
	}

	.contacts-thumbnails .thumbnail {
	    margin: 10px 0;
	}

	.contacts-content {
	    width: 100%;
	    margin: 50px 0 0 0;
	}

	.contacts-thumbnails .thumbnail p {
	    font-size: 17px;
	    line-height: 17px;
	    padding: 5px 0;
	}

	/*-- /Slide 7 --*/

	/*-- Slide 3 About Page --*/

	.articles-slider-2 .images-block {
	    position: relative;
	    top: 0;
	    left: 0;
	}

	.articles-slider-2 .images-block img {
	    max-width: 100%;
	    margin: 20px 0;
	}

	.images-block .bottom-images .img-1 {
	    width: 45%;
	    top: 0;
	}

	.images-block .bottom-images .img-2 {
	    width: 45%;
	}

	.articles-slider-2.articles-slider-2_1 .slide .col-2 {
	    width: 100%;
	    margin: 0;
	    background: rgba(255, 255, 255, 1);
	}

	.articles-slider-2-block {
	    margin: 2px 0 26px;
	}

	.slider-pagination-2_1 {
	    width: 30%;
	}

	/*-- /Slide 3 About Page --*/

	/*-- Slide 4 About Page --*/

	.articles-slider-4-about .slide .h-block {
	    position: relative;
	    top: initial;
	    bottom: 0;
	    left: 0;
	    transform: none;
	    transform-origin: none;
	    padding-bottom: 10px;
	}

	.articles-slider-4-about .slide {
	    height: auto;
	}

	.articles-slider-4-about .slide .left-article {
	    padding-bottom: 85px;
	    width: 100%;
	}

	.articles-slider-4-about .right-image {
	    display: none;
	}

	.articles-slider-4-about .slide .left-article-header {
		margin: 0;
	    padding: 9px 0 16px 0;
	}

	.articles-slider-4-about .slide h3 {
	    font-size: 31px;
	    line-height: 31px;
	}

	.footer-slider-7 .slider-pagination-4_1 {
	    left: 56%;
	}

	/*-- /Slide 4 About Page --*/

	/*-- Slide 5 About Page --*/

	.slide-5-about .h-block-right {
	    position: relative;
	    transform: none;
	    transform-origin: none;
	    padding-bottom: 10px;
	}

	.slide-5-about .h-block-right h2 {
	    font-size: 40px;
	    line-height: 50px;
	    padding-right: 3%;
	}

	.slide-5-about .h-block-right h3 {
	    font-size: 30px;
	    line-height: 30px;
	}

	.articles-slider-3-block.articles-slider-3-block_1 {
	    width: 100%;
	}

	.articles-slider-3-block_1 .slide-two-cols .col-1 {
	    width: 100%;
	    padding-top: 20px;
	}

	.articles-slider-3-block_1 .slide-two-cols .col-2 {
	    width: 100%;
	    margin: 0 0 17px 0;
	}

	.slide-5-about .slide-two-cols .article {
	    width: 100%;
	    margin: 25px 0 11px 0;
	}

	.slider-nav-3_1 .col-1 {
	    width: 100%;
	}

	.slider-nav-3_1 .col-2 {
		padding-top: 40px;
	    width: 100%;
	}

	/*-- /Slide 5 About Page --*/

	/*-- Slide 1 We Created Page --*/

	.slide-1-we-create:before {
	    width: 100%;
	}

	.h-block.we-create-h {
	    bottom: 0;
	    left: 0;
	}

	.h-block.we-create-h h2 {
		display: block;
	    top: 0;
	}

	.we-create-h .black-h {
		position: relative;
	    top: 0;
	    right: 0;
	}

	.we-create-two-cols {
	    padding-left: 0;
	}

	.we-create-two-cols .col-1 {
	    width: 100%;
	    padding: 0;
	}

	.we-create-two-cols .col-2 {
	    width: 100%;
	}

	.create-nav-list {
	    margin: 10px 0 0 0;
	}

	.gallery {
	    width: 100%;
	    margin: 0 0 20px 0;
	}

	.gallery-article {
		width: 100%;
		text-align: left;
	}

	.gallery-article p {
	    font-size: 16px;
	    line-height: 21px;
	}

	.gallery-pagination.bottom_pagination {
		display: inline-block;
		vertical-align: top;
	    position: absolute;
	    bottom: -60px;
	    left: initial;
	    right: 0;
	}

	/*-- /Slide 1 We Created Page --*/

	/*-- Slide 1 News Page --*/

	.news-block {
	    padding-top: 17px;
	}

	.slide-5-shape:before {
	    width: 100%;
	}

	.black-h {
	    position: relative;
	    top: 0;
	    right: 0;
	}

	.news-slider-block .col-1 {
		width: 100%;
	    padding-left: 0;
	}

	.news-slider-block .col-2 {
		width: 100%;
	}

	.news-miniatures-slider {
	    width: 100%;
	    max-width: 100%;
	    padding-right: 0;
	}

	.news-miniatures-slide {
	    padding: 9px 10px;
	}

	.create-nav-list li.active > ul {
	    border-bottom: 1px solid transparent;
	}

	.create-nav-list a {
	    font-size: 17px;
	    line-height: 22px;
	}

	.news-slider-inner .img-box {
	    height: 240px;
	}

	.news-slider-inner .article {
	    top: 0;
	    padding-left: 0;
	}

	.news-inner-arrows {
	    top: 205px;
	}

	.news-slider-inner .article h3 {
	    padding: 5px 0;
	}

	.news-slider-inner .article p {
	    font-size: 17px;
	    line-height: 21px;
	}

	.news-slider-controls {
		float: left;
		width: 50%;
	    position: relative;
	    bottom: 0;
	    left: 2%;
	}

	.socials-block_news {
		float: right;
		width: 50%;
		padding-top: 55px;
	}

	.socials-block_news .socials-list {
	    position: relative;
	    top: 0;
	}

	.news-miniatures-slide .img-box {
	    height: 102px;
	}

	.news-slider-controls .count-slides-block {
	    top: 0;
	}

	/*-- /Slide 1 News Page --*/

	.slide-page {
		height: auto !important;
		min-height: auto !important;
		position: relative !important;
		opacity: 1 !important;
		z-index: initial !important;
	}

	.sliding,
	.back-bg {
		display: none;
	}

	.site-nav-block {
		display: none !important;
	}

	.mCSB_scrollTools .mCSB_draggerContainer {
	    opacity: 1 !important;
	    right: -10px;
	}

	.slide-4-about {
		padding: 0 !important;
	}

	.slide-4-about .center {
		padding: 0 !important;
	}

	.center {
		padding-top: 20px !important;
	}

}


@media only screen and (max-width: 480px) {

	/*-- Slide 2 --*/

	.h-block {
	    position: relative;
	    top: 0;
	    left: 0;
	    white-space: nowrap;
	    transform: none !important;
	    transform-origin: none !important;
	}

	.h-block h2 {
	    font-size: 43px;
	    line-height: 50px;
	}

	.h-block h2:after {
	    display: none;
	}

	.h-block h2 span.small {
	    font-size: 29px;
	    line-height: 30px;
	    padding-top: 15px;
	}

	.articles-slider .slide {
	    padding: 13px 0;
	}

	/*-- /Slide 2 --*/

	/*-- Slide 3 --*/

	.article-inner-miniatures-slider .miniature-slide {
		width: 48%;
	}

	.miniature-descript span {
	    font-size: 16px;
	    line-height: 22px;
	}

	/*-- /Slide 3 --*/

	/*-- Slide 7 --*/

	.contacts-thumbnails {
	    padding: 0;
	}

	.contacts-thumbnails .thumbnail {
	    width: 100%;
	    text-align: center;
	}

	.contacts-thumbnails .thumbnail .icon-box {
	    height: 41px;
	    margin: 10px auto;
	    text-align: center;
	}

	.contacts-thumbnails .thumbnail .icon-box:after {
		position: relative;
	    left: 0;
	    margin: 8px auto 3px auto;
	}

	.footer-6 p {
	    width: 100%;
	}

	/*-- /Slide 7 --*/

	/*-- 404 Page --*/

	h2.h2-404 {
	    font-size: 21px;
	    line-height: 23px;
	    position: relative;
	    z-index: 2;
	}

	h2.h2-404:before {
	    top: -3px;
	}

	.p-404 {
		top: 0;
		z-index: 2;
		padding: 0 0 0 14%;
	    font-size: 148px;
	    line-height: 149px;
	}

	.back-link-block {
		position: relative;
		z-index: 2;
	}

	/*-- /404 Page --*/

}

@media only screen and (max-width: 420px) {

	/*-- Slide 2 --*/

	.articles-slider .article h3 {
	    font-size: 27px;
	    line-height: 28px;
	}

	/*-- .Slide 2 --*/

	/*-- Slide 3 --*/

	.article-inner-miniatures-slider {
		text-align: center;
	}

	.article-inner-miniatures-slider .miniature-slide {
		width: 47%;
	    height: 125px;
	}

	.miniature-descript span {
	    font-size: 15px;
	    line-height: 21px;
	}

	/*-- /Slide 3 --*/

	/*-- Slide 5 --*/

	.team-thumbnails .thumbnail {
		display: block;
		width: 100%;
		margin: 10px 0;
		text-align: center;
	}

	.team-thumbnails .thumbnail .inner {
		display: inline-block;
		vertical-align: top;
	}

	.team-thumbnails .thumbnail .img-box {
	    max-width: 100%;
	    max-height: 100%;
	}

	.team-thumbnails .thumbnail.th-2 .thumb-title {
	    left: -21px;
	}

	.team-thumbnails .thumbnail.th-2 .thumb-title p {
	    left: 0;
	    color: #353535;
	}

	.team-thumbnails .thumbnail p {
	    font-size: 16px;
	    line-height: 16px;
	}

	.team-thumbnails .thumbnail.th-3 {
	    margin-top: 57px;
	    right: 0;
	}

	.team-thumbnails .thumbnail.th-3 .thumb-title {
	    left: 16%;
	}

	.team-thumbnails .thumbnail.th-4 {
	    top: 6px;
	    right: -7%;
	}

	.team-thumbnails .thumbnail.th-4 .thumb-title {
		text-align: left;
	    left: -23px;
	}

	.team-thumbnails .thumbnail.th-5 {
		top: 0;
		margin: 20px 0;
	}

	/*-- /Slide 5 --*/

	/*-- 404 Page --*/

	h2.h2-404 {
	    font-size: 17px;
	    line-height: 20px;
	}

	h2.h2-404:before {
	    top: -3px;
	}

	.p-404 {
		top: 0;
	    font-size: 110px;
	    line-height: 110px;
	}

	.transparent-pill {
	    min-width: 70%;
	}

	/*-- /404 Page --*/

}

@media only screen and (min-width: 701px) {

	.main-nav-block {
		display: block !important;
		height: auto !important;
	}

}